$green: #42b983;
$blue: #273849;
$paper: #f6f6f6;
$grey: #d4d4d4;

@import url("https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&display=swap");

html {
  overflow: hidden;
}

body {
  font-family: "Manjari", sans-serif;
  background-color: white;
  font-weight: 400;
  color: $blue;
}

a {
  outline: none !important;
  color: $green !important;
  img {
    outline: none !important;
  }
}

img {
  border: 0 !important;
}

mark {
  background-color: $green;
  color: white;
  padding: 0.1rem 0.3rem;
}

.pointer {
  cursor: pointer;
}

.distributeXY {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: column wrap;
}

.centerXY {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
}

.underline {
  text-decoration: underline;
  text-underline-position: under;
}

.circle {
  &-1 {
    border: solid $grey 1px;
    border-radius: 50%;
    height: 70px;
    width: 70px;
  }
}

// viewport
.fill-viewport {
  &-100 {
    min-height: 100vh;
  }
  &-90 {
    min-height: 90vh;
  }
  &-80 {
    min-height: 80vh;
  }
  &-70 {
    min-height: 70vh;
  }
  &-60 {
    min-height: 60vh;
  }
  &-50 {
    min-height: 50vh;
  }
  &-10 {
    min-height: 10vh;
  }
}

// fixed
.is-fixed {
  &-0 {
    position: fixed;
  }
  &-top-right {
    position: fixed;
    top: 0.75rem;
    right: 0.75rem;
  }
  &-top-left {
    position: fixed;
    top: 0.75rem;
    left: 0.75rem;
  }
  &-bottom {
    position: fixed;
    bottom: 0.75rem;
    &-r {
      position: fixed;
      right: 1.3rem;
      bottom: 0.3rem;
    }
  }
}

// borders
.border {
  border-top: solid $grey 0.1px;
  border-left: solid $grey 0.1px;
  border-right: solid $grey 0.1px;
  border-bottom: solid $grey 0.1px;
  &-0 {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
  }
  &-t {
    border-top: solid $grey 0.1px;
  }
  &-l {
    border-left: solid $grey 0.1px;
  }
  &-r {
    border-right: solid $grey 0.1px;
  }
  &-b {
    border-bottom: solid $grey 0.1px;
    &-1 {
      border-bottom: solid $grey 0.1px;
    }
  }
}

// navigation
.navi {
  &-item {
    display: inline-flex;
    align-items: center;
  }
  &-center {
    display: inline-flex;
    justify-content: center;
  }
  &-right {
    display: inline-flex;
    justify-content: flex-end;
  }
  &-left {
    display: inline-flex;
    justify-content: flex-start;
  }
  &-active {
    text-decoration: underline;
    text-underline-position: under;
    color: $green;
  }
}
