// cursor pointer

.noPointer {
  cursor: none;
  a {
    cursor: pointer;
  }
}

.mouse-pointer {
  &-a {
    opacity: 0;
    position: fixed;
    background-color: $color2;
    width: 10px;
    height: 10px;
    left: -5px;
    top: -5px;
    border-radius: 100%;
    z-index: 1;
    pointer-events: none;
  }
  &-b {
    opacity: 0;
    background-color: $color1;
    position: fixed;
    width: 30px;
    height: 30px;
    left: -15px;
    top: -15px;
    border-radius: 100%;
    z-index: 0;
    pointer-events: none;
    mix-blend-mode: multiply;
  }
}
